* {
    margin: 0;
    padding:0;
}

#seccion-campo-personalizado {
    grid-area: campo;
    background-color: blueviolet;
    height: 100%;
    align-content: center;

}

h1{
    text-align: center;
}


#campo-area {
display: flex;
justify-content: center;
gap:10px;

}

#seccion-resumen {
    padding: 50px;
    grid-area: resumen;
    background-color: blue;
}

#seccion-listado {
    padding: 50px;
    grid-area: listado;
    background-color: aquamarine;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
grid-template-areas: 
"campo campo"
"resumen listado";
    height: 100vh;
    gap: 10px;
}